@page "/Connexion"
@inject NavigationManager Navigation

<PageTitle>Connexion</PageTitle>

<div class="container-fluid">
    <form class="form" @onsubmit="HandleSubmit">
        <div>
            <label for="identifiantInput" class="form-label">Identifiant</label>
            <input type="text" class="form-control" id="identifiantInput" @bind="identifiantInput">
            @if (!string.IsNullOrEmpty(identifiantError))
            {
                <div class="text-danger">@identifiantError</div>
            }
        </div>
        <div>
            <label for="mdpInput" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="mdpInput" @bind="mdpInput">
            @if (!string.IsNullOrEmpty(mdpError))
            {
                    <div class="text-danger">@mdpError</div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
</div>

@code {
    private string identifiantInput = string.Empty;
    private string mdpInput = string.Empty;

    private string identifiantError = string.Empty;
    private string mdpError = string.Empty;

    private void HandleSubmit()
    {
        // Remise a 0 des champs
        identifiantError = string.Empty;
        mdpError = string.Empty;

        // Validations
        var isValid = true;

        if (string.IsNullOrWhiteSpace(identifiantInput))
        {
            identifiantError = "Un identifiant est requis.";
            isValid = false;
        }
        if (string.IsNullOrWhiteSpace(mdpInput))
        {
            mdpError = "Un mot de passe est requis.";
            isValid = false;
        }
    }
}