@page "/formulaire"
@inject NavigationManager Navigation
@using IntegrationV3R_PortailFournisseur.Shared.ComposantsFormulaire
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime

<div class="container-fluid  formulaire-container">
	<NavbarFormulaire OnPageSelected="HandlePageSelected" CurrentPage="selectedPageIndex" />

	<div style="display:@(selectedPageIndex == 0 ? "block" : "none")">
		<CompFormulaireIdentification OnPageSelected="HandlePageSelected" Checkpoint="SetFormCheckpoint"/>
	</div>
	<div style="display:@(selectedPageIndex == 1 ? "block" : "none")">
		<CompFormulaireAdresse OnPageSelected="HandlePageSelected" Checkpoint="SetFormCheckpoint" />
	</div>
	<div style="display:@(selectedPageIndex == 2 ? "block" : "none")">
		<CompFormulaireContact OnPageSelected="HandlePageSelected" Checkpoint="SetFormCheckpoint" />
	</div>
	<div style="display:@(selectedPageIndex == 3 ? "block" : "none")">
		<CompFormulaireProduit OnPageSelected="HandlePageSelected" Checkpoint="SetFormCheckpoint" />
	</div>
	<div style="display:@(selectedPageIndex == 4 ? "block" : "none")">
		<CompFormulaireRBQ OnPageSelected="HandlePageSelected" Checkpoint="SetFormCheckpoint" />
	</div>
	<div style="display:@(selectedPageIndex == 5 ? "block" : "none")">
		<CompFormulaireBrochure OnPageSelected="HandlePageSelected" Checkpoint="SetFormCheckpoint" />
	</div>
</div>


@code {
	private int selectedPageIndex = 0;

	public int _checkpoint = 5; // Remettre à 0 pour le release, permet de ce deplacer entre pages pour tester

	private void SetFormCheckpoint(int pageIndex)
	{
		if(pageIndex > _checkpoint)
		{
			_checkpoint = pageIndex;
		}
	}

	private async void HandlePageSelected(int pageIndex)
	{
		if (pageIndex <= _checkpoint)
		{
			selectedPageIndex = pageIndex;
			Console.WriteLine($"Navigating to page: {selectedPageIndex}"); // Log the current page index
			await JSRuntime.InvokeVoidAsync("console.log", $"Navigated to page: {selectedPageIndex}"); // Log in browser console
		}
	}

}
