@using IntegrationV3R_PortailFournisseur.Shared.ComposantsFormulaire

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IntegrationV3R_PortailFournisseur</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="/logo-v3r-v2.svg" style="height: 50px; width: auto;" alt="Logo" />
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div class="oi oi-home" aria-hidden="true"> Home</div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formulaire">
                <div class="oi oi-list" aria-hidden="true"> FormulaireDemande</div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <button class="btn btn-link nav-link" @onclick="LogFormData">
                <div class="oi oi-bullhorn" aria-hidden="true"> Log Form Data</div>
            </button>
        </div>
    </nav>
</div>

@code {
    private SingletonFormulaire SingletonForm => SingletonFormulaire.Instance;


    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void LogFormData()
    {
        SingletonForm.LogDataToConsole();
    }
}
