.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%; /* Full width to cover the top area */
    z-index: 1000; /* Ensure it is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* Adjust padding as needed */
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 3.5rem; /* Position below the top row */
        width: 15rem; /* Adjust the width as needed */
        background-color: rgba(0,0,0,0.4); /* Match the background color of the top row */
        z-index: 1000; /* Ensure it is above other content */
    }
}
