@using IntegrationV3R_PortailFournisseur.Data.Models

<div class="profile-section">
    <h5>Identification</h5>
    <div class="row mb-3">
        <div class="col-md-2"><strong>NEQ:</strong> @neq</div>
        <div class="col-md-2"><strong>Nom de la compagnie:</strong> @nomEntreprise</div>
        <div class="col-md-2"><strong>Email:</strong> @courrielEntreprise</div>
        <div class="col-md-auto">
            <a href="/test"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">...</svg></a>
        </div>
    </div>
</div>

@code {
    [Parameter] public string neq { get; set; }
    [Parameter] public string nomEntreprise { get; set; }
    [Parameter] public string courrielEntreprise { get; set; }
}
