@using IntegrationV3R_PortailFournisseur.Data.Models
<h5>Produits</h5>
<div>
    @if (Products != null && Products.Any())
    {
        <p><strong>Description Produits et Services offerst :</strong> @Description </p>

        <p><strong>Liste :</strong> </p>
        <div class="mx-2">
            @foreach (UnspscComodite comodite in Products)
            {                            
                <p class="m-2"><strong>@comodite.ComoditeNombre -</strong> @comodite.ComoditeTitreFr</p>
            }
        </div>
    }
    else
    {
        <div>No products/services available.</div>
    }
</div>

@code {
    [Parameter] public List<UnspscComodite> Products { get; set; }
    [Parameter] public string Description { get; set; }
}
