@using IntegrationV3R_PortailFournisseur.Data.Models

<div class="profile-section">    
    <div class="mt-2 ">
        

        <p><strong>Nom de la compagnie :</strong> @nomEntreprise</p>
        <p><strong>Courriel entreprise (identifiant) :</strong> @courrielEntreprise</p>
        <p><strong>NEQ (identifiant) :</strong> @neq</p>
    </div>
</div>

@code {
    [Parameter] public string neq { get; set; }
    [Parameter] public string nomEntreprise { get; set; }
    [Parameter] public string courrielEntreprise { get; set; }
}
