@using IntegrationV3R_PortailFournisseur.Data.Models

<div class="profile-section">    
    <p><strong>Adresse complète :</strong> @NumeroCiv @Bureau @Rue </p>
    <p><strong>Ville/Province :</strong> @Ville @Province</p>
    <p><strong>Code Postal :</strong> @CodePostal</p>
    <p>
        <strong>Numéro téléphone:</strong> @NumeroTelephone @(
        NumeroPoste != string.Empty ? "Poste " + NumeroPoste : ""
        )
    </p>
    <p><strong>Site Web :</strong> @Siteweb</p>

    
</div>

@code {
    [Parameter] public string NumeroCiv { get; set; }
    [Parameter] public string Bureau { get; set; }
    [Parameter] public string Rue { get; set; }
    [Parameter] public string Ville { get; set; }
    [Parameter] public string Province { get; set; }
    [Parameter] public string CodePostal { get; set; }
    [Parameter] public string RegionAdministrative { get; set; }
    [Parameter] public string NumeroTelephone { get; set; }
    [Parameter] public string NumeroPoste { get; set; }
    [Parameter] public string Siteweb { get; set; }
}
